:root {
    --primary-color: #fc1a00;
    --secondary-color: #19fc00;
    --background-color: #000000;

    --text-color: #333;
}

body {
    font-family: 'Unbounded', sans-serif;
    background-color: var(--background-color);
    color: white;
}


h5 {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
}

h3{
    color: var(--primary-color);
}

p {
    font-size: 12px;
    font-weight: 300;
}

h1 {
    font-size: 100px;
    text-align: center;
    color: var(--primary-color);
}

h2 {
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-color);
}

.margin-block {
    height: 100px;
}
.two-columns{
display: grid;
grid-template-columns: 1fr 1fr; /* Keeps two columns layout */
gap: 20px;

}
.threeColumns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px; /* Space between columns */
}

.container {
    margin-right: 50px;
    margin-left: 50px;
}


.table-container {
    width: 800px; /* Set a specific width */
    height: 650px; /* Set a specific height */
    overflow: auto; /* Enables scrolling */
    border: 1px solid #ccc; /* Optional: Adds a border */
    border-radius: 10px;
}


table {
    width: 100%; /* Ensures the table takes full width of the container */
    border-collapse: collapse;
    font-size: 13px;
}

thead {
    font-weight: 500;
    height: 40px;
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    z-index: 2;
}
table td:nth-child(1) {
    text-align: center !important;
    color: var(--primary-color) !important;
    font-weight: bold; /* Makes sure it stands out */
}

thead, tbody, tr, th, td {
    padding: 4px 7px;  /* Increased padding for more space */
    text-align: left;
    margin-left: 15px;
    border: 1px solid #ccc;
}

form {
    display: grid;
    gap: 10px 60px; /* Adjust spacing between rows and columns */
    align-items: center; /* Align items vertically */
    max-width: 100%; /* Set form width */
}

.label-container label {
    display: block;
    text-align: right; /* Align text to the right */
    font-weight: bold;
    padding-right: 10px; /* Add spacing between label and input */
    font-size: 15px;

}

input, select {
    padding: 10px;
    border-radius: 10px;
}


.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.add-album-form {
    display: grid;
    grid-template-columns: auto 1fr; /* Align labels and inputs */
    gap: 10px 20px;
    align-items: center;
    width: 100%; /* Ensures form takes full width */
    max-width: 800px; /* Match the table width */
    margin-top: 20px;
}

.parenthesis {
    font-size: 14px;
}


.add-btn {
    grid-column: span 2; /* Makes the button span both columns */
    justify-self: end;
    display: block;
    padding: 8px 16px;
    background-color: #19fc00;
    color: black;
    border: 0.7px solid black;
    border-radius: 10px;
    font-size: 12px;
    justify-content: end;
    cursor: pointer;
    font-family: 'Unbounded', sans-serif;
}

.add-btn:hover {
    background-color: #4DB910FF;
    color: black;

}


.update-btn {
    display: inline-block;
    padding: 6px 14px;
    background-color: #19fc00;
    color: black;
    border: 0.7px solid black;
    border-radius: 10px;
    font-size: 12px;
    justify-content: center;
    cursor: pointer;
    font-family: 'Unbounded', sans-serif;
    margin: 3px;
}



.update-btn:hover {
    background-color: #4DB910FF;
    color: black;
}


.delete-btn {
    display: inline-block;
    padding: 6px 14px;
    background-color: var(--primary-color);
    color: white;
    border: 0.7px solid black;
    border-radius: 10px;
    font-size: 12px;
    justify-content: center;
    cursor: pointer;
    font-family: 'Unbounded', sans-serif;
    margin: 3px;
}

.delete-btn:hover {
    background-color: #B01605FF;

}